@import './partials/mixins.scss';
@import './partials/reset.scss';
@import './partials/variables.scss';
@import './partials/typography.scss';
@import './partials/components.scss';
@import './partials/grid.scss';
@import './pages/header.scss';
@import './pages/home.scss';

