h1, h2, h3, h4{
    color: $grey-500;
    font-family: 'Poppins', sans-serif;
    line-height: 112%; 
}

h1{
    font-size: 4rem;
    letter-spacing: -0.0625rem;
    font-weight: 600;
}

h2{
    font-size: 2.5rem;
    letter-spacing: -0.0625rem;
    font-weight: 600;
}

h3{
    font-size: 1.5rem;
    letter-spacing: -0.0313rem;
    font-weight: 500;
}

h4{
    font-size: 1.25rem;
    letter-spacing: -0.0313rem;
    font-weight: 500;
}

h5{
    font-size: 1.125rem;
    letter-spacing: -1px;
    font-weight: 600;
}