header{
    background-color: $brand-blue;
    border-bottom: 2px solid #fff;
    .header{
        padding: 1.5rem 0;
        @include flexCenterJustify;
        
        ul{
            @include flexCenterJustify;
            gap: 3rem;

            li{
                a{
                    color: #FFF;
                    font-family: 'Poppins', sans-serif;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 125%;

                    transition: .3s ease;
                    &:hover{
                        color: $grey-100;
                    }
                }
            }
        }
    }
}