header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    
    .header{
        padding: 1.5rem 0;
        @include flexCenterJustify;
        
        ul{
            @include flexCenterJustify;
            gap: 3rem;

            li{
                a{
                    color: #FFF;
                    font-family: 'Poppins', sans-serif;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 125%;

                    transition: .3s ease;
                    &:hover{
                        color: $brand-yellow;
                    }
                }
            }
        }

        .btns{
            display: flex;
            justify-content: space-between;

            .btn-mobile{
                display: none;
                margin-left: 2.5rem;
            }
        }
        

        @include responsivo(1080px){
            ul{
                margin-right: 1rem;
    
                li{
                    &:not(:first-child){
                        margin-left: 1.5625rem;
                    }
                }
            }
        }

        @include responsivo(980px){
            .logo-header{
                max-width: 6.75rem;
            }
            
            ul{
                display: none;
            }

            .btns{
                .btn-mobile{
                    display: block;
                }
            }
           
        }

        @include responsivo(480px){
            
            ul{
                display: none;
            }

            .btns{
                .btn-secundary{
                    display: none;
                }

                .btn-mobile{
                    display: block;
                }
            }
           
        }
    }

}