.s-hero{
    width: 100%;
    height: 49.125rem;
    background: url(/assets/bg-hero.svg) no-repeat center center;
    padding-top: 175px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .text{
        width: 100%;
        max-width: 42.75rem;

        h3{
            opacity: 0.8;
            color: white;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        h1{
            color: white;
            margin-bottom: 2.4375rem;
        }

        ul{
            width: 100%;
            max-width: 38.8125rem;
            margin-top: 4rem;
            @include flexCenterJustify;

            li{
                @include flex-center;
                
                .icon{
                    width: 3rem;
                    height: 3rem;
                    background: linear-gradient(180deg, rgba(53, 203, 226, 0.3) 0%, rgba(53, 202, 226, 0.00) 100%);
                    border-radius: 50%;
                    @include flexTotalCenter;
                    margin-right: .75rem;
                }

                span{
                    color: white;
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }

    .area-image{
        width: 100%;
        max-width: 44.125rem;
        margin-right: -10.875rem;

        h2{
            margin-bottom: 4.1875rem;
            text-align: center;
            color: white;
            opacity: 0.4;
            font-weight: 600;
        }

        .image{
            position: relative;
            width: 100%;
            height: 33.8125rem;
            top: 35px;
            img{
                position: absolute;
            }
            .card-front{
                top: 2.5625rem;
                left: 0;
                z-index: 2;
            }

            .card-back{
                bottom: 2.875rem;
                right: 4.1875rem;
                z-index: 1;
            }
            .circle{
                top: 1.75rem;
                right: 2.875rem;
            }
        }
    }
}

.s-card-neon{
    padding-top: 8.0625rem;

    .container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .left-area{
        width: 100%;
        max-width: 17.3125rem;

        .ilustra-mockup{
            width: 100%;
            max-width: 17.3125rem;
            position: relative;
            margin-bottom: 8.0625rem;

            .circle{
                position: absolute;
                z-index: -1;
                top: 40px;
                max-width: 23.5625rem;
                left: -10.3125rem;
            }
        }

        .text{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            
            .icon{
                position: relative;
                &::before{
                    content: '';
                    width: .3125rem;
                    height: 5.1875rem;
                    display: inline-block;
                    background: url(/assets/points.svg) no-repeat center center;
                    position: absolute;
                    top: -6.5rem;
                    left: 50%;
                    margin-left: -0.1563rem;
                }
            }

            .info-txt{
                display: flex;
                flex-direction: column;
                align-items: center;

                h3{
                    margin-top: 2.25rem;
                    color: $grey-600;
                }

                p{
                    color: $grey-400;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 150%;
                    opacity: 0.8;
                    margin-bottom: 1.625rem;
                }

                ul{
                    li{
                        &:not(:last-child){
                            margin-bottom: .8125rem;
                        }
                    }
                }
            }
        }
    }

    .right-area{
        width: 100%;
        max-width: 50rem;

        .main-text{
            margin-bottom: 9rem;
            h2{
                width: 100%;
                max-width: 30.5rem;
                color: $grey-600;
                margin-bottom: 1rem;
            }

            ul{
                margin-bottom: 32px;

                li{
                    @include flexCenterJustify;
                    border-bottom: 1px solid rgba(225, 224, 231, 0.8);
                    padding: 33px 0;
                    .info{
                        @include flex-center;
                        gap: 2.6875rem;

                        .txt{
                            h3{
                                color: $grey-400;
                                font-weight: 500;
                                letter-spacing: -0.5px;
                            }

                            p{
                                color: $grey-300;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            a{
                display: inline-block;
                position: relative;
                color: $brand-blue;
                font-size: 16px;
                font-weight: 500;
                line-height: 112%;
                letter-spacing: -0.5px;

                &::after{
                    position: absolute;
                    content: '';
                    right: -1.125rem;
                    bottom: 0;
                    width: 10px;
                    height: 3px;
                    background-color: $brand-yellow;
                    
                }
            }
        }

        .box-card{
            width: 100%;
            height: 25.625rem;
            background: url(/assets/bg-box-card-neon.svg) no-repeat center center;
            border-radius: .75rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .text{
                width: 100%;
                max-width: 23.75rem;
                margin-left: 3.6875rem;
                h2{
                    color: #FFF;
                    font-weight: 700;
                    line-height: 112%;
                    letter-spacing: -1px;
                    margin-bottom: .6875rem;
                }

                h3{
                    color: #FFF;
                    font-weight: 400;
                    line-height: 150%; /* 36px */
                    letter-spacing: -0.5px;
                    margin-bottom: .5rem;
                }

                p{
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                    margin-bottom: 1rem;
                }
            }
            .image{
                margin-right: -1.9375rem;
            }
        }
    }
}

.s-depoimentos{
    padding-top: 8.375rem;

    .top{
        width: 100%;
        margin-bottom: 2.5rem;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        h2{
            span{
                display: block;
                color: $grey-200;
                margin-bottom: .875rem;
            }
        }

        .swiper-pagination{
            position: relative;
            width: auto;

            .swiper-pagination-bullet{
                border-radius: 12px;
                opacity: 0.3;
                background: $brand-yellow;
                transition: all .3s;
                &:not(:first-child){
                    margin-left: .25rem;
                }
                &-active{
                    width: 17.231px;
                    opacity: 1;
                }
            }
        }
    }

    .slide-depoimentos{
        overflow: hidden;
    }
}

.s-conta-digital{
    padding-top: 8.125rem;
    padding-bottom: 5.3125rem;
    .container{
        display: flex;
        align-items: center;
    }
    .text{
        width: 100%;
        max-width: 33.875rem;

        h2{
            color: $grey-600;
            margin-bottom: 45px;

            span{
                display: block;
                color: $grey-200;
                margin-bottom: .5625rem;
            }
        }

        ul{
            margin-bottom: 49px;

            li{
                display: flex;
                margin-bottom: 37px;
                gap: 1.625rem;

                .icon{
                    width: 2.8125rem;
                    height: 45px;
                    background: $brand-green-light;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
                }

                .info{
                    h4{
                        color: $grey-400;
                        font-weight: 500;
                        line-height: 112%; /* 22.4px */
                        letter-spacing: -0.5px;
                    }

                    p{
                        color: $grey-300;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 150%; /* 27px */
                    }
                }
            }
        }
    }

    .image{
        position: relative;
        width: 100%;
        max-width: 44.5rem;
        height: 37.375rem;
        margin-right: -2.375rem;
        left: 7.8125rem;
        img{
            position: absolute;
            &.mockup-01{
                left: 0;
                bottom: 2.9375rem;
                z-index: 2;
            }

            &.mockup-02{
                top: .1875rem;
                left: 15.625rem;
                z-index: 1;
            }

            &.circle{
                right: 0;
                bottom: 0;
            }
        }
    }
}

footer{
    background: $brand-blue;
    padding-top: 3.0625rem;
    

    .top{
        @include flexCenterJustify;
        padding-bottom: 3rem;
        margin-bottom: 3.625rem;
        border-bottom: 2px solid rgba(73, 197, 253, 0.2);
        
        .share{
            @include flexCenterJustify;
            gap: 1.875rem;

            span{
                color: #FFF;
                font-size: 14px;
                line-height: 125%;
                opacity: 0.7;
            }
            ul{
                @include flexCenterJustify;
                gap: 1.875rem;
            }
        }
    }

    .main{
        @include flexCenterJustify;
        border-bottom: 2px solid rgba(73, 197, 253, 0.2);
        padding-bottom: 3.875rem;
        margin-bottom: 2.4375rem;
        nav{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            max-width: 53.75rem;

            .item{
                strong{
                    display: inline-block;
                    color: white;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 125%; /* 20px */
                    margin-bottom: 25px;
                }

                ul{
                    li{
                        &:not(:last-child){
                            margin-bottom: 29px;
                        }
                        a{
                            color: white;
                            font-size: 14px;
                            opacity: 0.7;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                }
            }
        }

        .btns{
            width: 100%;
            max-width: 17.5rem;
          
            button{
                width: 100%;
                height: 4.75rem;
                display: flex;
                align-items: center;
                padding-left: 1.5625rem;
                &:not(:last-child){
                    margin-bottom: 1.5rem;
                }
                border-radius: 6px;
                background-color: rgba(0, 165, 240, 0.23);

                .info{
                    margin-left: 1.5rem;
                    strong{
                        display: block;
                        text-align: left;
                        color: white;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 150%;
                    }
                    span{
                        color: white;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }
            }
        }
    }

    .msg{
        display: flex;
        align-items: flex-start;
        gap: 24px;
        border-bottom: 4px solid $brand-yellow;
        padding-bottom: 2.375rem;
        p{
            width: 100%;
            max-width: 41.25rem;
            color: white;
            font-size: 14px;
            line-height: 150%;
            opacity: 0.8;
        }
    }
}